// Border radius
$theme-border-radius:          0px !important;
$border-radius:        0px !important;

// text size for home page hero box
.fs-5 {
    font-size: 1rem !important; // was 1.25
}
// padding for box where news etc is displayed
#news {
    padding-top: 2rem !important; // was 3
    padding-bottom: 2rem !important;
}

.custom-cards .card-title {
    font-weight: bold !important;
}